---
import Layout from "../layouts/Layout.astro";
import NewNavbar from "../components/NewNavbar.astro";

//images imports
import Project_sample1 from "../Images/Project_sample1.png";
import Project_sample2 from "../Images/Project_sample2.png";
import Opening_project from "../Images/Opening_project1.png";
import Coffe_shop1 from "../Images/slideshow/coffee_downstairs2.JPG";
import Coffe_shop2 from "../Images/slideshow/inside_ground_floor.JPG";
import Pizza_place from "../Images/slideshow/Pizza_ground _floor.JPG";



---
<Layout>
    <NewNavbar/>
    <header>
        <section class = "main">
            <div class="slideshow-container" >
                <div class= "slide">
                    <img src= {Opening_project.src} alt="Project interior" >
                </div>
                <div class= "slide fade">
                    <img src= {Coffe_shop1.src} alt="Project interior" >
                </div>
                <div class= "slide">
                    <img src={Coffe_shop2.src} alt="Project interior">
                </div>
                <div class= "slide">
                    <img src={Pizza_place.src} alt="Project interior" >
                </div>
            
                <button class="prev" >&#10094;</button>
                <button class="next" >&#10095;</button>
            </div>
    </header>
    <main>
        <section class="description">
            <article>
                <div class="bio">
                    <p>This is a brief description of the service and products you offer. <br> The type of design that makes you unique. <br> The experience that led you to here...<a href="/AT_website/about">LEARN MORE</a></p>      
                </div>
            </article>
        </section>
        <section>
            <div class="projects" >
                <div class = "project-section">
                    <a href ="/AT_website/hosProjects"><img src= {Project_sample1.src} width="500px" height="300px" alt ="hospitality project preview viking cruise ship"></a>
                    <p>HOSPITALITY PROJECTS</p>
                </div>
    
                <div class = "project-section">
                    <a href ="/AT_website/resProjects"><img src={Project_sample2.src} width="500px" height="300px" alt ="residential project preview london home hall" ></a>
                    <p>RESIDENTIAL PROJECTS</p>
                </div>
            </div>
        </section>       
    </main>
    <script>
        const toggleButton = document.getElementsByClassName("toggle-button")[0];

        const navbarLinks = document.getElementsByClassName("navbar-links")[0];

        toggleButton.addEventListener("click", () => {
            //console.log(navbarLinks)
        navbarLinks.classList.toggle("active")
        })

        //slideshow 
        let slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("slide");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex-1].style.display = "block";
            //setTimeout (showSlides, 2000)
        }

        let prevButton = document.getElementsByClassName("prev")[0];
        let nextButton = document.getElementsByClassName("next")[0];

        prevButton.addEventListener("click", () =>{
            console.log(prevButton)
            showSlides(slideIndex += -1)
        });
        nextButton.addEventListener("click", () =>{
            console.log("next")
            showSlides(slideIndex += 1)
        });
    </script>
<style>
.main {
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.description-section {
    margin: 20px 40px;

}

/*slideshow */

.slideshow-container {
    width: 100%;
    height: 100vh;

    position: relative;
}

.slide {
    display: none;
    width: 100%;
    height:100%;

}

.slide img {
    width: 100%;
    height: 100%;

    overflow: hidden;
    object-fit: cover;
}


.prev, .next {
    cursor: pointer;

    position: absolute;
    top: 50%;
    width: auto;

    background: none;
    border: none;
    font-size: 4rem;
    transform: translateY(-50%);
    color: rgba(255,255,255, 0.5);
    
    border-radius: 0.25rem;
    padding: 0 0.5rem; 
    background-color: rgba(0, 0, 0, 0.1)
}

.next:hover,
.next:focus, 
.prev:hover, 
.prev:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.prev {
    left: 1rem;
}

.next {
    right: 1rem;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
    .topnav {
        margin: 20px;
        width: auto;
    
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    
    }
    
    .brand-name {
        color: #f2f2f2;
        font-size: 3rem;
    
        /* To aligh the nav links on the right */
        margin-left: 0;
        margin-right: auto;
    }

    .navbar-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .topnav li a {
        text-decoration: none;
        color: #f2f2f2;
        font-size: 1.5rem;
        padding: 14px 16px;

    }
      
    .topnav li a:hover {
        color: black;
        text-decoration: underline;
    }

/* hamburger menu style */

    .toggle-button {
        position:absolute;
        top: .7rem;
        right: 1rem;

        display:none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .toggle-button .bar {
        height: 3px;
        width:100%;
        background-color: #f2f2f2;
        border-radius: 10px;
    }

    
/* Dropdown element */
    
    .dropdown-content {
        display: none; 
        position: absolute;
        top: 40px;
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        text-align: left;
        height: 40px;

    }

    .dropdown:hover .dropdown-content {
        display: block;
    }


/* main description  section */

    .description {
        margin: 10%;

        font-size: 1.5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .bio p {
        text-align: center;
    }

    .bio p a:hover{
        text-decoration: underline;
    }

/* main projects section  */

    .projects{
        margin-bottom: 10%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .project-section {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .project-section p {
        margin: 5px;

        font-size: 1.5rem;
        color: #333

    }

/* main projects media queries */
    
    @media (max-width: 1050px) {
        .projects {
            display: flex;
            flex-direction: column;
        }
        
    }

/* navbar media queries */
    
    @media (max-width: 565px) {
        .toggle-button {
            display: flex;
        }

        .navbar-links {
            display: none; 
        }
        
        .navbar-links {
            flex-direction: column;
        }

        /* to be shown on click event when active class is added */
        .navbar-links.active{
            display: flex;
        }
    }

    </style>
</Layout>
